
.container {
    background-color: #000;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    padding: 25px;
    height: 66.4vh;
  }
  
  .container h1 {
    font-family: 'Roboto', sans-serif;
    font-size: 42px;
    color: #2271D2;
  }
  
  .iframeContainer {
    height: 100%;
    width: 50%;
  }