.gContainer {
    display: flex;
    flex-direction: column;
  }
  
  .gContainer textarea {
    max-width: 700px;
    resize: none;
    padding-left: 5px;
    background-color: #262626;
    border: 1px solid #fff;
    border-radius: 10px;
    caret-color: #f5f5f5;
    color: #f5f5f5;
    font-size: 20px;
  }
  
  

  
  .gContainer textarea::placeholder {
    position: absolute;
    font-size: 20px;
    margin-left: 10px;
  }

  .gContainer label {
    display: block;
    font-size: 20px;
  }