.gContainer {
    display: flex;
    flex-direction: column;
  }
  
  .gContainer label {
    display: block;
    font-size: 20px;
    margin-bottom: -40px;
  }
  
  .gContainer select {
    background-color: #262626;
    border: 1px solid #fff;
    color: lightgray;
    font-size: 20px;
    border-radius: 10px;
    height: 50px;
    padding-left: 4px;
    margin-top: 33px;
    text-transform: uppercase;
  }
  
  .placeholderOption {
    color: lightgray;
    font-size: 20px;
  }