.gContainer {
  display: flex;
  font-family: "Roboto", sans-serif;
  color: #fff;
  background-color: #262626;
  flex-direction: column;
  gap: 30px;
  padding: 30px 50px;
}

.ImgAside {
  display: flex;
  flex-direction: column;
  margin-top: 50px;
  margin-left: 60px;
  gap: 100px;
}

.ImgAside img {
  width: 30%;
}

.ImgAside .ImgPlaneta {
  width: 60%;
}

.gContainerTitulo {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  margin-top: -900px;
  margin-left: 500px;
}

.gContainerTitulo h1 {
  font-size: 60px;
  margin-top: 30px;
}

.gContainerForm {
  display: flex;
  flex-direction: column;
  column-gap: 20px;
  justify-content: center;
  width: 40%;
  margin-left: 700px;
}

.gContainerForm form {
  display: flex;
  flex-direction: column;
  row-gap: 20px;
  font-size: 25px;
}

.gContainerForm h2 {
  font-size: 36px;
  border-top: 1px solid #2271D1;
  border-bottom: 1px solid #2271D1;
  padding: 20px 0px;
  margin-bottom: 40px;
  color: white;
}

.gContainerForm div {
  display: flex;
  flex-wrap: wrap;
  flex-grow: 1;
  row-gap: 20px;
  column-gap: 42px;
}




